/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Same processes as align_sentieon.config's tail (BAM_CRAM/MARKDUP/REALIGN_INDEL_BQSR/
    CRAM_TO_BAM), reused here for samplesheet rows that start from bam/cram instead of
    fastq - see subworkflows/local/align_bam_cram.nf.
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*ALIGN_BAM_CRAM:.*' {
        container = "${params.container_dir}/sentieon_20250520.sif"
    }

    withName: '.*ALIGN_BAM_CRAM:BAM_CRAM' {
        ext.args    = { "-r ${params.genome_file} --algo ReadWriter --cram_write_options version=3.0" }
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_BAM_CRAM:CRAM_INDEX' {
        container = '/fs1/resources/containers/wgs_active.sif'
    }

    withName: '.*ALIGN_BAM_CRAM:MARKDUP' {
        ext.args    = { "--fun score_info score.gz" }
        ext.args2   = { "--rmdup --score_info score.gz --cram_write_options version=3.0" }
        ext.args3   = { "-r ${params.genome_file} "  }
    }

    withName: '.*ALIGN_BAM_CRAM:REALIGN_INDEL_BQSR' {
        publishDir = [
            path: "${params.outdir}/${params.subdir}/bam",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "-r ${params.genome_file}" }
        ext.args2   = { "-k ${params.known} --cram_write_options version=3.0" }
        ext.args3   = { "-k ${params.dbSnp} -k ${params.known}" }
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_BAM_CRAM:QUALCAL_ONLY' {
        ext.args    = { "-r ${params.genome_file}" }
        ext.args3   = { "-k ${params.dbSnp} -k ${params.known}" }
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_BAM_CRAM:CRAM_TO_BAM' {
        container = '/fs1/resources/containers/wgs_active.sif'
        ext.args    = { "-b -T ${params.genome_file}" }
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_BAM_CRAM:CRAM_TO_BAM_PROCESSED' {
        container = '/fs1/resources/containers/wgs_active.sif'
        ext.args    = { "-b -T ${params.genome_file}" }
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*ALIGN_BAM_CRAM:DEDUP_METRICS_PLACEHOLDER' {
        container = '/fs1/resources/containers/wgs_active.sif'
    }

}
