/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {

    withName: '.*DUX4IGH_CALLING:REHEADER_CRAM' {
        container = "${params.container_dir}/samtools_1.21.sif"
        ext.when    = params.dux4_igh
    }

    withName: '.*DUX4IGH_CALLING:PELOPS_DUX4' {
        container = "/fs1/saile/prj/container/pelops.sif"
        ext.when  = params.dux4_igh
        ext.args = { "--only-igh-dux4 --filter-regions ${params.dux4_blacklist}" }
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/dux4_igh",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*DUX4IGH_CALLING:JSON_PELOPS_TO_VCF' {
        container = "/fs1/resources/containers/python_3.12.sif"
        ext.when  = params.dux4_igh
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/dux4_igh",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}