/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*GERMLINE_ANNOTATE:NORMALIZE_VCF' {
        container = "${params.container_dir}/bcftools-1.23.1.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.germline
        ext.args    = { "-m -both -c w -f ${params.genome_file} -d exact" }
    }

    withName: '.*GERMLINE_ANNOTATE:PANEL_EXON_BED' {
        container = "${params.container_dir}/python_cmdvcf_pysam0.22.1.sif"

        ext.when    = params.germline
    }

    withName: '.*GERMLINE_ANNOTATE:INTERSECT_CODING' {
        container = "${params.container_dir}/tumwgs_2022-02-08.sif"

        ext.when    = params.germline
        ext.args    = { "-u -header" }
    }

    withName: '.*GERMLINE_ANNOTATE:FORMAT_GERMLINE_VCF' {
        container = "${params.container_dir}/perl_xmljson.sif"

        ext.when    = params.germline
    }

    withName: '.*GERMLINE_ANNOTATE:ANNOTATE_VEP' {
        container = params.vepcon

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.germline
        ext.args    = [
            "--offline --merged --everything --vcf --no_stats --force_overwrite",
            "--plugin CADD,${params.CADD}",
            "--plugin LoFtool",
            "--fasta ${params.VEP_FASTA}",
            "--dir_cache ${params.VEP_CACHE}",
            "--dir_plugins ${params.VEP_CACHE}/Plugins",
            "--distance 200",
            "--custom ${params.GNOMAD}",
            "--custom ${params.COSMIC}",
            "--custom ${params.CLINVAR}",
            "--cache",
        ].join(' ')
    }

    withName: '.*GERMLINE_ANNOTATE:MARK_GERMLINES' {
        container = "${params.container_dir}/perl_xmljson.sif"

        ext.when    = params.germline
        ext.args    = { "--assay ${params.markgermline}" }
    }

    withName: '.*GERMLINE_ANNOTATE:SELECT_GERMLINE' {
        container = "${params.container_dir}/perl_xmljson.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.germline
    }
}
