/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*GERMLINE_ANNOTATE:ANNOTATE_VEP' {
        container = params.vepcon

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = [
            "--offline --merged --everything --vcf --no_stats --force_overwrite",
            "--fasta ${params.VEP_FASTA}",
            "--dir_cache ${params.VEP_CACHE}",
            "--dir_plugins ${params.VEP_CACHE}/Plugins",
            "--distance 200",
            "--custom ${params.GNOMAD}",
            "--custom ${params.CLINVAR}",
            "--cache",
        ].join(' ')
    }

    withName: '.*GERMLINE_ANNOTATE:GERMLINE_EVALUATE' {
        container = "${params.container_dir}/perl_xmljson.sif"

        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args    = { "--assay ${params.markgermline}" }
    }
}
