/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.args4           = fourth set of arguments appended to command in module (multi-tool modules).
        ext.args5           = fifth set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.suffix          = File name suffix for output files.
        ext.suffix2         = File name suffix for output2 files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*SNV_CALLING:FREEBAYES' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        ext.when    = params.freebayes
        ext.args    = { "-f ${params.genome_file} --pooled-continuous   --min-repeat-entropy 1   -F 0.01 -C 3  -m 20   -q 20 --use-best-n-alleles 4" }
        // F = minimum alternate allele frequency, C = minimum alternate count, m = minimum mapping quality, q = minimum base quality to improve specificity of calls. These are set to be more lenient than defaults to capture low frequency variants in tumor samples, but can be overridden by args2 and args3 for additional filtering. To reduce the sequencing artefacts we use -m 20 and -q 20.  In oreder to increase the genotyping sensitivity for low frequency variants, we use --use-best-n-alleles 4 to consider up to 4 best candidate alleles at each site. For more details on these parameters, please refer to the freebayes documentation:

        //ext.args    = { "-f ${params.genome_file} --pooled-continuous --pooled-discrete --min-repeat-entropy 1" }
        ext.args2   = { "-F LowCov -f \"DP > 30\" -f \"QA > 150\"" } 
        ext.args3   = { "-F LowFrq -o -f \"AB > 0.05\" -f \"AB = 0\"" }
    }

    withName: '.*SNV_CALLING:VARDICT' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        ext.when    = params.vardict
        ext.args    = { "-G ${params.genome_file} -c 1 -S 2 -E 3 -g 4" }
    }

    withName: '.*SNV_CALLING:TNSCOPE' {
        container = "${params.container_dir}/sentieon_202308.03.sif"

        ext.when    = params.tnscope
        ext.args    = { "-r ${params.genome_file}" }        // for reference
        ext.args2   = { "--cram_read_options decode_md=0" }
        ext.args3   = { "-d ${params.dbSnp}"}   
        ext.args4   = { "--disable_detector sv" }    
    }

    withName: '.*SNV_CALLING:FILTER_TNSCOPE' {
        container = "${params.container_dir}/tumwgs_2022-02-08.sif"
        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf", 
            mode: 'copy', 
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.tnscope
        ext.args    = { "norm -m -both -c w -f ${params.genome_file}" }
        ext.args2   = { "-i 'FILTER="PASS"' -O z"}
        ext.args3   = { "-b ${params.regions_bed} -u -header" }
        ext.args4   = { "-O z" }
    }

    withName: '.*SNV_CALLING:CONCATENATE_VCFS' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"
        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf", 
            mode: 'copy', 
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args = { "-r ${params.genome_file}" }
    }

    withName: '.*SNV_CALLING:AGGREGATE_VCFS' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"
        publishDir = [
            path: "${params.outdir}/${params.subdir}/vcf", 
            mode: 'copy', 
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SNV_CALLING:MELT' {
        container = "${params.container_dir}/melt_2.2.2.sif"
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when = params.melt
        ext.args = { "-r 150 -h ${params.genome_file} -n /opt/MELTv2.2.2/add_bed_files/Hg38/Hg38.genes.bed -z 500000 -d 50 -t /opt/mei_list" }
    }

    withName: '.*SNV_CALLING:SVDB_MERGE_SINGLES' {
        container   = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"
        ext.args    = { "--no_intra --pass_only --bnd_distance 10 --overlap 1.0" }
    }

    withName: '.*SNV_CALLING:BEDTOOLS_INTERSECT' {
        container   = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"
        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args    = { "-header" }
    }

    
    withName: '.*SNV_CALLING:DNASCOPE' {
        container   = "${params.container_dir}/sentieon_202308.03.sif"

        ext.when    = params.dnascope 
        ext.args    = { "-r ${params.genome_file}" }    // reference and common arguments for driver
        ext.args2   = { "--cram_read_options decode_md=0" }
        ext.args3   = { "--emit_mode GVCF" }                           // algo specific arguments
        ext.prefix  = { "${meta.id}" }
    }

    withName: '.*SNV_CALLING:DEEPSOMATIC' {
        container = "${params.container_dir}/deepsomatic_1.9.0.sif"

        ext.when    = params.deepsomatic
        ext.args    = { "--ref=${params.genome_file} --regions=${params.regions_bed}" }
    }
    
    withName: '.*SNV_CALLING:TNSCOPE_ML' {
        container = "${params.container_dir}/sentieon_202503--7e7ce56c0d0199c5.sif"

        ext.when    = params.tnscope
        ext.args    = { "-r ${params.genome_file}" }        // for reference
        ext.args2   = { "--cram_read_options decode_md=0  --shard 1:1-248956422  --shard 2:1-242193529  --shard 3:1-198295559 --shard 4:1-190214555 --shard 5:1-181538259  --shard  6:1-170805979 --shard 7:1-159345973 --shard 8:1-145138636 --shard 9:1-138394717 --shard 10:1-133797422 --shard 11:1-135086622 --shard 12:1-56232327 --shard 12:56232328-133275309 --shard 13:1-114364328 --shard 14:1-107043718 --shard 15:1-101991189  --shard 16:1-90338345  --shard 17:1-83257441 --shard 18:1-80373285 --shard 19:1-58617616 --shard 20:1-64444167  --shard 21:1-46709983 --shard 22:1-50818468 --shard X:1-156040895 --shard Y:1-57227415 --shard M:1-16569" }
        ext.args3   = { " --min_init_tumor_lod 1.0  --min_tumor_lod 5 --min_init_normal_lod 0.5  --min_normal_lod 1.0 --min_base_qual 13  -d ${params.dbSnp}"}   
        ext.args4   = { "--disable_detector sv --trim_soft_clip" }
        ext.args5 = { "--model /fs1/saile/prj/TUMWGS_VALIDATION/Modern_Variant_Callers/resources/SentieonTNscopeModelWGS0.2.model" }    
    }


    withName: '.*SNV_CALLING:PINDEL_CONFIG' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"
        ext.when    = params.pindel
        ext.prefix  = { "${group}" }
    }

    withName: '.*SNV_CALLING:PINDEL_CALLING' {
        container = "${params.container_dir}/SomaticPanelPipeline_2021-06-24.sif"

        publishDir = [ 
            path: "${params.outdir}/${params.subdir}/vcf",
            mode: 'copy',
            overwrite: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.when    = params.pindel
        ext.args    = { "-f ${params.genome_file} -w 0.01 -x 3 -j ${params.pindel_regions_bed}" }
        ext.args2   = { "-r ${params.genome_file} -R hg38 -d 2015-01-01 -is 2  -e 10 -he 0.01" }
        ext.prefix  = { "${group}" }
    }
}