process {

    withName: SEQTK {
        cpus            = 5
        memory          = '128GB'
        time            = '8h'
        errorStrategy   = 'retry'
        maxErrors       = 5
    }

    withName: FASTP {
        cpus            = 40
        memory          = '128GB'
        time            = '8h'
        errorStrategy   = 'retry'
        maxErrors       = 5
    }


}